<html>
    <body>
        <ul>
            {% for csv_id in csv_list %}
                <li><a href="/csv/{{ csv_id }}/view">{{ csv_id }}</a></li>
            {% endfor %}
            </ul>
    </body>
</html>