<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/js/excel-formula.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/js/jquery.jexcel.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jexcel/1.5.7/css/jquery.jexcel.min.css" type="text/css" />

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'btn.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<div class="wrapper">   
<h3>{{ title }}</h3>
<p>{{ description|safe }}</p>

<p>
    <div class="menu-container">
    <form id="form" action="/csv/{{ csv_id }}/save/", method="POST">
        <button class="sbm-btn" id='save'>Zapisz</button>
    </form>
    <!-- <form id="validatingForm" action="/csv/{{ csv_id }}/save/", method="POST"> -->
        <button class="sbm-btn" id='validate'>waliduj dane</button>
    <!-- </form> -->
    <a href="/csv/{{ csv_id }}/delete">Przywróć oryginał</a>
    <a href="/dane_csv/?plik={{ csv_id }}">Pokaż JSON</a>
    </div>
</p>
<div id="my"></div>
</div>

<script>
const translateWarnings = (label) => {
    switch (label) {
        case 'null_value':
            return 'brak wartości'
        case 'not_matching_type':
            return 'niepoprawny typ'
            break;
        default:
            return 'niepoprawna wartość'
    }
}
data = {{ data|safe }};

$('#my').jexcel({
    data:data,
    columnSorting: false,
    colHeaders: [...Array(data[0].length).keys()],
    colWidths: data[0].map(function(x){return 200;}),
    columns: [
        { type: 'string' },
        { type: 'string' },
        { type: 'string' },
    ]
});

$('#save').on('click', function () {
  var data = $('#my').jexcel('getData');
 
  data = JSON.stringify(data)
  $("#form").submit( function(eventObj) {
        $('<input />').attr('type', 'hidden')
          .attr('name', "csv")
          .attr('value', data)
          .appendTo('#form');
        $('<input />').attr('type', 'hidden')
          .attr('name', "header_rows")
          .attr('value', 3)
          .appendTo('#form');
      return true;
  });
});

$('#validate').on('click', function () {
  var data = $('#my').jexcel('getData');
  // sorting by row value from backend could be crucial for validation
  $.get( "/csv_validate/?plik={{ csv_id }}", function( validationData ) {
        // debugger;
        validationData = validationData['warnings'];
        $('#my').jexcel('updateSettings', {
            table: function (instance, cell, col, row, val, id) {
                // debugger;
                validationData.forEach(cellValidation => {
               
                        if (row == cellValidation.row) {
                        if (col == cellValidation.col) {
                            if (cellValidation.warn == 'null_value'){
                                $(cell).css('background-color', '#FFA07A');
                                $(cell).attr('data-tippy-content', translateWarnings(cellValidation.warn))
                            }
                        } 
                    }
                })
            }
    });
    tippy('[data-tippy-content]')
});
    // tippy('[data-tippy-content]')
});
</script>



</html>