@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);

.lnk-btn {
  color: #000;
  font-size: 14px;
  border: 1px solid #019f86;
  background: #fff;
  padding: 10px;
  font-weight: 900;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.lnk-btn:hover {
  background-color: #019f86;
  color: #fff;
  cursor: pointer;
}
.sbm-inv-btn {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #019f86;
  border: 1px solid #019f86;
  padding: 10px;
  font-weight: 600;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.sbm-inv-btn:hover {
  border: 1px solid #019f86;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.button {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 14px;
  border: 1px solid #019f86;
  background: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  margin: 10px;
}
.button:hover {
  background-color: #019f86;
  color: #fff;
  cursor: pointer;
}
/*******/

.lnk-inv-btn {
  color: #000;
  font-size: 14px;
  background-color: #019f86;
  border: 1px solid #019f86;
  color: #fff;
  padding: 10px;
  font-weight: 900;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.lnk-inv-btn:hover {
  border: 1px solid #019f86;
  background: #fff;
  color: #000;
  cursor: pointer;
}
.sbm-btn {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-size: 14px;
  border: 1px solid #019f86;
  background: #fff;
  padding: 10px;
  font-weight: 600;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}
.sbm-btn:hover {
  background-color: #019f86;
  color: #fff;
  cursor: pointer;
}
.button-inv {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 14px;
  background-color: #019f86;
  border: 1px solid #019f86;
  padding: 10px;
  font-weight: 600;
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  margin: 10px;
}
.button-inv:hover {
  border: 1px solid #019f86;
  color: #000;
  background-color: #fff;
  cursor: pointer;
}