.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 460px;
}

#form {
    margin: 0;
}

.wrapper {
    width: 66%;
    margin: 0 auto;
}
